{% extends 'nurse/home.html.twig' %}

{% block main %}

    <center><h4>Add a new Patient</h4></center>
    {% if form is defined %}
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        <div class="col-sm-11">
            <div class="well">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="well">

                    <h4>New Patient successfully added to the system</h4> <br>
                    <h4>Record the initial condition of the patient</h4>
                    <a href=" {{ path('addRecord', {'id':patient.patientId}) }}" class="list-group-item">Record Condition</a>

            </div>

        </div>
    {% endif %}

{% endblock %}