{% extends 'nurse/home.html.twig' %}

{% block main %}

    <h4>Nearest ICU -> {{ nearest }} </h4>
    <h4>Distance -> {{ distance }}</h4>
    <h4>Phone Number -> {{ phno }}</h4>
    <h4>No of Vacancies -> {{ vacancy }}</h4>

{% endblock %}